header {
    border: #cf788b inset 6px;
    text-align: center;
    font-family: "Actor";
    background-image: linear-gradient(to bottom,#cfb478,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 20px;
    text-shadow: 1px 1px black; 
}

h1 {
    font-size: 50px;
    font-family: "Aclonica";
    text-shadow: 2px 5px rgb(68, 45, 45);
    color: #cf788b;
}

h5 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: rgb(71, 60, 9) inset 6px;
    padding: 10px;
}

h4 {
    font-size: 25px;
    padding: 10px 0px;  
    text-align: center;
    color: rgb(209, 199, 164);
    text-shadow: 2px 1px black;
    background-image: linear-gradient(to bottom right,#cfb478,rgb(71, 60, 9));
}

body {
    background-image: url("https://wallpapercave.com/wp/wp2292652.jpg");
}

.mainastorimage {
    margin: 5px 5px 
}

img {
    border-radius: 360px;
    border: inset 5px #cf788b;
    object-fit: fill;
    object-position: 20% 1px; 
    border: 5px inset #cf788b;
    overflow: hidden;
}

iframe {
    margin-bottom: 50px;
    border: inset 5px #cf788b; 
}

li {
    color: rgb(209, 199, 164);
    text-shadow: 2px 1px black;
    text-align: center;
    font-size: 20px;
    font-family: "Actor";
    background-image: linear-gradient(to bottom right,#cfb478,rgb(71, 60, 9));
    display: block;
}

.familysection {
    border: #cf788b inset 3px;
    text-align: center;
    font-size: 20px;
    font-family: "Actor";
    padding: 10px;
    margin: 50px;
    color: rgb(209, 199, 164);
    text-shadow: 2px 1px black;
    display: inline-block;
    background-image: linear-gradient(to bottom right,#cfb478,rgb(71, 60, 9));
}

.fatherpic {
    height: 230px;
    width: 150px;
    float: left;
}

.motherpic {
    height: 215px;
    width: 150px;
    float: left;
}

.erikapic {
    height: 230px;
    width: 150px;
    float: left;
}

table {
    border:#cf788b inset 4px; 
    padding: 5px;
}

th {
    border: rgb(71, 60, 9) solid 1px;
    background-color: rgb(71, 60, 9);
}

td {
    border: rgb(71, 60, 9) solid 1px;
}

footer {
    border: #cf788b inset 4px;
    text-align: center;
    font-family: "Actor";
    background-image: linear-gradient(to bottom,#cfb478,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 20px;
    text-shadow: 1px 1px black; 
    
}

.back {
    color: rgb(209, 199, 164);
}

/*page 2 stuff*/

nav {
    text-align: right;
}

.background {
    float: left;
    background-image: linear-gradient(to bottom,#8b784e,rgb(71, 60, 9));
    border: inset #cf788b 6px; 
    width: 650px;
    color: rgb(209, 199, 164);
    font-size: 30px;
    text-shadow: 1px 1px black; 
    font-family: "Actor";
    margin: 10px;
}

.familybackground {
    background-image: linear-gradient(to bottom,#8b784e,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 30px;
    text-shadow: 1px 1px black; 
    font-family: "Actor";
    padding: 5px;
    float: right;
    width: 500px;
    margin: 10px;
    border: inset #cf788b 6px;
}

h3 {
   color: #cf788b;  
}

.heartofdarkness {
    background-image: linear-gradient(to bottom,#8b784e,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 30px;
    text-shadow: 1px 1px black; 
    font-family: "Actor";
    padding: 5px;
    float: right;
    width: 500px;
    margin: 10px;
    border: inset #cf788b 6px;
}

.secrets {
    background-image: linear-gradient(to bottom,#8b784e,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 30px;
    text-shadow: 1px 1px black; 
    font-family: "Actor";
    padding: 5px;
    float: right;
    width: 500px;
    margin: 10px;
    border: inset #cf788b 6px;
}

.importantitems {
    background-image: linear-gradient(to bottom,#8b784e,rgb(71, 60, 9));
    color: rgb(209, 199, 164);
    font-size: 30px;
    text-shadow: 1px 1px black; 
    font-family: "Actor";
    padding: 5px;
    float: right;
    width: 500px;
    margin: 10px;
    border: inset #cf788b 6px;
}

.oathofancientsvid {
    float: right;
}






